<div class="landing-header">

    <div stl="font-size:24,padding-top:20">
        This is a demo application that grabs "Daily Deals" from <a href="https://ebay.com/">ebay.com</a> every hour and shows the result in custom interface with ability to filter.
        <br>
        This demo uses <a href="https://angularjs.org/">AngularJS</a> on client-side and <a href="https://nodejs.org/">NodeJS</a>, <a href="https://expressjs.com/">ExpressJS</a>, <a href="https://casperjs.org/">CasperJS</a>, <a href="https://phantomjs.org/">PhantomJS</a>, <a href="https://mongoosejs.com/">Mongoose</a>, <a href="https://www.mongodb.com/">MongoDB</a>, <a href="https://nodejs.org/api/crypto.html">Crypto</a>, <a href="http://socket.io/">Socket.io</a> on server-side.
    </div>

    <search-panel></search-panel>

</div>